@import '@/styles';

// 搜尋&分類按鈕

.userAction {
  display: flex;
  justify-content: space-between;
}

.listSelect {
  // margin-left: auto;
  //   border: 0;
  //   background: #f1edeb;

  display: flex;
  width: 116px;
  padding: 6px 14px;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  border: 1px solid $primary;
  color: $primary;
  background-color: $white;
}

.searchBar {
  // display: flex;
  // width: 227px;
  padding: 6px 14px;
  // align-items: center;
  // gap: 66px;
  border-radius: 50rem;
  border: 1px solid $primary;
  background-color: $white;
}

.rwdCreate {
  border: 1px solid $primary;
  padding: 5px 10px;
  align-items: center;
  border-radius: 5px;
  background-color: $white;
  width: 116px;
  text-align: center;

  @include rwd-above('xl') {
    display: none;
  }
}

.searchBtn {
  display: flex;
  border: 0;
  font-size: 26px;
  align-items: center;
  cursor: pointer;
}
